.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  padding: 0px;

  width: 1080px;
  height: 119px;
}

.game-header > img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

/* menu */
.menubar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  width: 215px;
  height: 44px;
}

.menubar-item {
  cursor: pointer;
}

.menubar .menubar-item svg {
  width: 24px;
  height: 24px;
  color: var(--gray-medium);
}

/* modal trigger btn */
.menubar .menubar-item:first-of-type {
  position: relative;
  padding: 10px 20px 10px 10px;
}

.menubar .menubar-item::after {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--gray-medium);
  width: 1px;
  height: 100%;
  content: '';
}
.menubar .menubar-item:last-of-type {
  padding: 10px 10px 10px 20px;
}

/* info */
.game-info {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 195px;
  height: 65px;
  line-height: 65px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.timer {
  position: relative;
  padding: 0px 15px 0px 0px;

  color: var(--bs-red);
  font-weight: 900;
  font-size: 52px;
  text-align: right;
}
.timer::after {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--gray-medium);
  width: 1px;
  height: 100%;
  content: '';
}

.matches-mistakes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  white-space: nowrap;
}

.matches-mistakes_container span:first-of-type {
  position: relative;
  padding: 0px 15px 15px 15px;
}
.matches-mistakes_container span:first-of-type::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--gray-medium);
  width: 100%;
  height: 1px;
  content: '';
}

.matches-mistakes_container span:last-of-type {
  padding: 15px 15px 0px 15px;
}
