.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  z-index: 1;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.modal-overlay {
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  width: 300px;
  height: 275px;

  background: var(--white);
  border-radius: 35px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  gap: 10px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;

  width: 300px;
  height: 74px;
  background: var(--gray-light);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;

  width: 300px;
  height: 201px;
}

.modal-header h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 17px;
}

.modal-close-btn {
  cursor: pointer;
}

.modal-close-btn svg {
  color: var(--gray-medium);
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 25px;
  height: 24px;
}

.modal-body .settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 260px;
  height: 41px;
}

.modal-body .settings-option label {
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}

.modal-body .settings-option input {
  padding: 10px 0px;
  text-align: center;

  width: 50px;
  height: 41px;

  /* White */
  border: 1px solid var(--gray-medium);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.modal-body .save-button {
  padding: 15px 20px;

  width: 260px;
  height: 49px;

  background: var(--bs-red);
  border-radius: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}
